@model IEnumerable<pingpong.Models.ScoreHistory>

@{
ViewData["Title"] = "Score History";
}

<h1 class="text-center my-4">Score History</h1>

<div class="container">
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Player</th>
            <th scope="col">Old Score</th>
            <th scope="col">New Score</th>
            <th scope="col">Change Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Player.Name</td>
            <td>@item.OldScore</td>
            <td>@item.NewScore</td>
            <td>@item.ChangeDate.ToString("dd/MM/yyyy HH:mm")</td>
        </tr>
        }
        </tbody>
    </table>
</div>
